# Analyze Baltimore Riot Twitter data

This process takes a subset of Twitter data related to the Baltimore Riots and conducts analysis on the tweet text to determine if the areas most affected by the Riots can be recreated.  This analysis uses a combination of a trained Long Short Term Memory (LSTM) Recurrent Neural Network (RNN) and Natural Language Processing Techniques.  

The first step is to import the necessary Python Packages.

In [1]:
import os 
import json
import requests
import textblob
import time
import tweepy
import re

import numpy as np
import pandas as pd
import keras.preprocessing.text as kpt
import matplotlib.pyplot as plt

from keras.models import load_model
from arcgis.gis import GIS
from arcgis.features import SpatialDataFrame
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from textblob.sentiments import NaiveBayesAnalyzer
from textblob.np_extractors import ConllExtractor
from textblob import TextBlob
from collections import Counter
from operator import itemgetter

Using TensorFlow backend.

In [4]:
csv_path = r'Baltimore Riots Tweets/baltimore_twitter.csv'
model = load_model('models/Twitter_SA_Model.h5')

The vocabulary that was used to train and test the model from the previous steps must be loaded into memory.  Following this, a new Tokenizer must be instantiated that has the length as the vocabulary.  Once the Tokenizer has been created, a function was created to convert the text to an index array.  This populates the new dictionary that will be used in the prediction of the sentiment of the tweet based on the Keras Model.

In [5]:
with open('dictionary/dictionary.json', 'r') as dictionary_file:
    dictionary = json.load(dictionary_file)

In [6]:
tokenizer = Tokenizer(num_words=20000)

In [7]:
def convert_text_to_index_array(text):
    words = kpt.text_to_word_sequence(text)
    wordIndices = []
    for word in words:
        if word in dictionary:
            wordIndices.append(dictionary[word])
        else:
            pass
    return wordIndices

A Sentiment function must be created that takes as an input the text of the tweet, calls the function that turns the text into an array, and predicts the sentiment based on the Keras trained model.

In [8]:
def Sentiment(tweet_text):
    labels = ['positive', 'negative']
    testArr = convert_text_to_index_array(tweet_text)
    twt = tokenizer.sequences_to_matrix([testArr], mode='binary')
    twt = pad_sequences(twt, maxlen=86, dtype='int32', padding='post', truncating='post', value=0)
    sentiment = model.predict(twt)
    accuracy = sentiment[0][np.argmax(sentiment)] * 100
    tweetSent = labels[np.argmax(sentiment)]
    return tweetSent, accuracy

Other measures of sentiment will be calculated based off the TextBlob Naïve Bayes analyzer and the Polarity and Subjectivity calculator.  To calculate these measures, the tweet text must be instantiated as a TextBlob object, or blob.  This blob can then be used in the various classifiers and analyzers associated with TextBlob.  

Extracting Noun-phrases and verbs from Baltimore Riot Twitter Dataset:  TextBlob provides a built-in function that allows for a user to call a part of sentence tagger.  This in turn returns a list of tuples of the word and type of word (noun, verb, etc…).

In [9]:
def calculate_sentiment(object_id, text_to_analyze):
    sent_sp = TextBlob(text_to_analyze)
    #nba_sent = TextBlob(text_to_analyze, analyzer=NaiveBayesAnalyzer())
    subjectivity = sent_sp.sentiment.subjectivity
    polarity = sent_sp.sentiment.polarity
    sentiment_tf = Sentiment(text_to_analyze)
    classification_tf = sentiment_tf[0]
    if classification_tf == 'positive':
        classification_num = 1
    else:
        classification_num = 0
    accuracy_tf = sentiment_tf[1]
    nba_sentiment = ""
    nouns = []
    verbs = []
    for part in sent_sp.tags:
        if part[1].startswith("V"):
            verbs.append(part[0])
        elif part[1].startswith("N"):
            nouns.append(part[0])
        
    for noun in sent_sp.noun_phrases:
        if noun not in nouns:
            nouns.append(noun)
    
    return object_id, subjectivity, polarity, classification_tf, accuracy_tf, classification_num, nouns, verbs, nba_sentiment

To correctly calculate the sentiment of each individual tweet, the Baltimore Riots Twitter dataset must be loaded into memory using a Pandas Dataframe.  Then an iterator is created to go through the various rows of the dataset, passing the Tweet text to the various functions that have been outlined above.  Once these classifiers conduct their analysis, these values are loaded into an in-memory list, that in turn is used to create a new Pandas Dataframe with the Tweet text and associated sentiment.  This dataset is then in turn appended to the original Baltimore Riots Twitter dataset.

In [10]:
df = pd.read_csv(csv_path)
df.dropna()
text_df = df[['OBJECTID', 'text']]

In [11]:
df.head()

,OBJECTID,lat,long,dtg,user_name,user_id,text
0,1,39.274819,-76.608696,Mon Apr 27 23:00:57 +0000 2015,PandaMc8,3.880081e+08,WTFFFFFF https://t.co/2DT5PxqOc2
1,2,39.292146,-76.567825,Mon Apr 27 23:01:15 +0000 2015,okaykerra,3.519059e+08,Pretty Rick been everywhere and ain't been ain...
2,3,39.293876,-76.682365,Mon Apr 27 23:01:41 +0000 2015,letgoletkarma,4.498094e+07,I'm filing exempt tomorrow
3,4,39.309108,-76.666054,Mon Apr 27 23:01:47 +0000 2015,PrettyMoee,2.656314e+08,I got endless videos
4,5,39.281066,-76.631622,Mon Apr 27 23:02:05 +0000 2015,khyona_,2.157380e+09,Omg they mace the man

Regular expressions are used to go through the body of text and extract out all Twitter user names and hashtags that are located within the Tweet text.

In [12]:
mentions = []
mentions_dict = {}
hashtags = {}

for row in df.iterrows():
    oid = row[1]['OBJECTID']
    text = row[1]['text']
    user = row[1]['user_name']
    match = re.findall(r'@(?i)[a-z0-9_]+', text)
    if len(match) > 0:
        mentions_dict[oid] = match
        for handle in match:
            mentions.append(["@" + user, handle])
    hash_match = re.findall(r'#(?i)[a-z0-9_]+', text)
    if len(hash_match) > 0:
        hashtags[oid] = hash_match

C:\Users\jame9353\AppData\Local\conda\conda\envs\Keras\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: Flags not at the start of the expression '@(?i)[a-z0-9_]+'
  if __name__ == '__main__':
C:\Users\jame9353\AppData\Local\conda\conda\envs\Keras\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning: Flags not at the start of the expression '#(?i)[a-z0-9_]+'

In [13]:
print(len(mentions))
print(len(hashtags))

7016
4338

In [14]:
mentions_columns = ['User', 'Mentioned']
mentions_df = pd.DataFrame(mentions, columns=mentions_columns)
mentions_df.head()

              User         Mentioned
0       @lizbreaux  @EternalWeather1
1      @latisha_92     @TrinaBraxton
2    @HotBoy_Gotti  @im_taedoe_bitch
3      @latisha_92   @towandabraxton
4  @HousingWatchMD          @mbta535

In [ ]:
mentions_dict

In [16]:
mentions_df.to_csv('output/TwitterMentions.csv')

Map the Mentions and Hashtags back to the original dataframe.

In [17]:
df['Mentions'] = df['OBJECTID'].map(mentions_dict)

In [18]:
df['Hashtags'] = df['OBJECTID'].map(hashtags)

In [19]:
df.head(10)

,OBJECTID,lat,long,dtg,user_name,user_id,text,Mentions,Hashtags
0,1,39.274819,-76.608696,Mon Apr 27 23:00:57 +0000 2015,PandaMc8,3.880081e+08,WTFFFFFF https://t.co/2DT5PxqOc2,NaN,NaN
1,2,39.292146,-76.567825,Mon Apr 27 23:01:15 +0000 2015,okaykerra,3.519059e+08,Pretty Rick been everywhere and ain't been ain...,NaN,NaN
2,3,39.293876,-76.682365,Mon Apr 27 23:01:41 +0000 2015,letgoletkarma,4.498094e+07,I'm filing exempt tomorrow,NaN,NaN
3,4,39.309108,-76.666054,Mon Apr 27 23:01:47 +0000 2015,PrettyMoee,2.656314e+08,I got endless videos,NaN,NaN
4,5,39.281066,-76.631622,Mon Apr 27 23:02:05 +0000 2015,khyona_,2.157380e+09,Omg they mace the man,NaN,NaN
5,6,39.281348,-76.622841,Mon Apr 27 23:02:06 +0000 2015,lizbreaux,3.268726e+07,"@EternalWeather1 yes, thanks for checking. Jus...",[@EternalWeather1],NaN
6,7,39.317959,-76.597527,Mon Apr 27 23:02:20 +0000 2015,LaySoSilly_,4.979544e+08,Wish I had someone to text or talk to,NaN,NaN
7,8,39.283331,-76.683991,Mon Apr 27 23:02:23 +0000 2015,1rockstarjay,1.331518e+08,T ' !,NaN,NaN
8,9,39.273615,-76.689659,Mon Apr 27 23:02:32 +0000 2015,mmccxxii,1.636984e+09,why county schools getting out early ?,NaN,NaN
9,10,39.321848,-76.595459,Mon Apr 27 23:02:42 +0000 2015,latisha_92,4.773671e+08,@TrinaBraxton Please Pray For Baltimore,[@TrinaBraxton],NaN

Apply lambda functions to make the Tweet text lower case and remove any special characters.

In [20]:
df['text'] = df['text'].apply(lambda x: x.lower())
df['text'] = df['text'].apply((lambda x: re.sub('[^a-zA-z0-9\s]','',x)))

In [21]:
df.head()

,OBJECTID,lat,long,dtg,user_name,user_id,text,Mentions,Hashtags
0,1,39.274819,-76.608696,Mon Apr 27 23:00:57 +0000 2015,PandaMc8,3.880081e+08,wtffffff httpstco2dt5pxqoc2,NaN,NaN
1,2,39.292146,-76.567825,Mon Apr 27 23:01:15 +0000 2015,okaykerra,3.519059e+08,pretty rick been everywhere and aint been aint...,NaN,NaN
2,3,39.293876,-76.682365,Mon Apr 27 23:01:41 +0000 2015,letgoletkarma,4.498094e+07,im filing exempt tomorrow,NaN,NaN
3,4,39.309108,-76.666054,Mon Apr 27 23:01:47 +0000 2015,PrettyMoee,2.656314e+08,i got endless videos,NaN,NaN
4,5,39.281066,-76.631622,Mon Apr 27 23:02:05 +0000 2015,khyona_,2.157380e+09,omg they mace the man,NaN,NaN

In [22]:
df_shape = df.shape
print("Total Rows:  " + repr(df_shape[0]))
print("Total Columns:  " + repr(df_shape[1]))

Total Rows:  23137
Total Columns:  9

Iterates through the Pandas DataFrame, applies the sentiment classification function to each of the texts.  The result of this is appended to different dictionaries that are used for mapping back to the source DataFrame.

In [ ]:
subj_dict = {}
pol_dict = {}
class_tf_dict = {}
acc_tf_dict = {}
class_num_dict = {}
nouns_dict = {}
verbs_dict = {}
nba_dict = {}

start_time = time.time()
print(start_time)

errors = 0
count = 0

for row in text_df.iterrows():
    oid = row[1]['OBJECTID']
    text = row[1]['text']
    if text != None:
        try:
            oid, subj, pol, class_tf, acc_tf, class_num, nouns, verbs, nba = calculate_sentiment(oid, text)
            subj_dict[oid] = subj
            pol_dict[oid] = pol
            class_tf_dict[oid] = class_tf
            acc_tf_dict[oid] = acc_tf
            class_num_dict[oid] = class_num
            nouns_dict[oid] = nouns
            verbs_dict[oid] = verbs
            nba_dict[oid] = nba
            if count % 100 == 0:
                print(oid, subj, pol, class_tf, acc_tf, class_num, nouns, verbs, nba)
        except:
            errors +=1
            print("Error on oid " + str(oid))
        count +=1
        
        
    
end_time = time.time()
print(end_time - start_time)
print("Process completed with an error percentage of " + repr((errors/df_shape[0]) * 100))

Map the dictionaries created in the previous step back to the source DataFrame.

In [24]:
df['Subjectivity'] = df['OBJECTID'].map(subj_dict)
df['Polarity'] = df['OBJECTID'].map(pol_dict)
df['Classification (Tensorflow)'] = df['OBJECTID'].map(class_tf_dict)
df['Accuracy (Tensorflow)'] = df['OBJECTID'].map(acc_tf_dict)
df['Classification Number'] = df['OBJECTID'].map(class_num_dict)
df['Nouns'] = df['OBJECTID'].map(nouns_dict)
df['Verbs'] = df['OBJECTID'].map(verbs_dict)
df['NBA'] = df['OBJECTID'].map(nba_dict)

In [25]:
df.to_csv('output/SentimentData.csv')

In [26]:
df.head()

,OBJECTID,lat,long,dtg,user_name,user_id,text,Mentions,Hashtags,Subjectivity,Polarity,Classification (Tensorflow),Accuracy (Tensorflow),Classification Number,Nouns,Verbs,NBA
0,1,39.274819,-76.608696,Mon Apr 27 23:00:57 +0000 2015,PandaMc8,3.880081e+08,wtffffff httpstco2dt5pxqoc2,NaN,NaN,0.00,0.000000,negative,61.184597,0,"[WTFFFFFF, https, //t.co/2DT5PxqOc2, wtffffff]",[],
1,2,39.292146,-76.567825,Mon Apr 27 23:01:15 +0000 2015,okaykerra,3.519059e+08,pretty rick been everywhere and aint been aint...,NaN,NaN,1.00,0.390625,negative,61.184955,0,"[Pretty, Rick, rick, ai n't]","[been, ai, been, been, touched, been]",
2,3,39.293876,-76.682365,Mon Apr 27 23:01:41 +0000 2015,letgoletkarma,4.498094e+07,im filing exempt tomorrow,NaN,NaN,0.00,0.000000,negative,61.184597,0,"[exempt, tomorrow]","['m, filing]",
3,4,39.309108,-76.666054,Mon Apr 27 23:01:47 +0000 2015,PrettyMoee,2.656314e+08,i got endless videos,NaN,NaN,0.75,-0.125000,negative,61.245066,0,"[videos, endless videos]",[got],
4,5,39.281066,-76.631622,Mon Apr 27 23:02:05 +0000 2015,khyona_,2.157380e+09,omg they mace the man,NaN,NaN,0.00,0.000000,negative,61.184657,0,"[man, omg]",[mace],

In [27]:
enriched_df = pd.read_csv('output/Twitter_locations_Neighborhoods.csv')
enriched_df.head()

,OBJECTID,Join_Count,TARGET_FID,Field1,oid_,lat,lon,dtg,user_name,user_id,...,Hashtags,Subjectivity,Polarity,Classification__Tensorflow_,Accuracy__Tensorflow_,Classification_Number,Nouns,Verbs,Long,LABEL
0,1,1,1,0,1.0,39.274819,-76.608696,Mon Apr 27 23:00:57 +0000 2015,PandaMc8,3.880081e+08,...,NaN,0.00,0.000000,negative,61.184597,0,"['WTFFFFFF', 'https', '//t.co/2DT5PxqOc2', 'wt...",[],-76.608696,Riverside
1,2,1,2,1,2.0,39.292146,-76.567825,Mon Apr 27 23:01:15 +0000 2015,okaykerra,3.519059e+08,...,NaN,1.00,0.390625,negative,61.184955,0,"['Pretty', 'Rick', 'rick', ""ai n't""]","['been', 'ai', 'been', 'been', 'touched', 'been']",-76.567825,Baltimore Highlands
2,3,1,3,2,3.0,39.293876,-76.682365,Mon Apr 27 23:01:41 +0000 2015,letgoletkarma,4.498094e+07,...,NaN,0.00,0.000000,negative,61.184597,0,"['exempt', 'tomorrow']","[""'m"", 'filing']",-76.682365,Edmondson Village
3,4,1,4,3,4.0,39.309108,-76.666054,Mon Apr 27 23:01:47 +0000 2015,PrettyMoee,2.656314e+08,...,NaN,0.75,-0.125000,negative,61.245066,0,"['videos', 'endless videos']",['got'],-76.666054,Northwest Community Action
4,5,1,5,4,5.0,39.281066,-76.631622,Mon Apr 27 23:02:05 +0000 2015,khyona_,2.157380e+09,...,NaN,0.00,0.000000,negative,61.184657,0,"['man', 'omg']",['mace'],-76.631622,Washington Village/Pigtown

In [28]:
neighborhood_nouns = {}
neighborhood_verbs = {}
neighborhood_hashtags = {}

In [29]:
for row in enriched_df.iterrows():
    neighborhood = row[1]['LABEL']
    if neighborhood not in neighborhood_nouns.keys():
        neighborhood_nouns[neighborhood] =[]
    if neighborhood not in neighborhood_verbs.keys():
        neighborhood_verbs[neighborhood] =[]
    if neighborhood not in neighborhood_hashtags.keys():
        neighborhood_hashtags[neighborhood] =[]

In [30]:
for row in enriched_df.iterrows():
    neighborhood = row[1]['LABEL']
    noun_list = row[1]['Nouns']
    verb_list = row[1]['Verbs']
    hashtag_list = row[1]['Hashtags']
    nouns = noun_list[1:-1].split(',')
    verbs = verb_list[1:-1].split(',')
    
    
    for noun in nouns:
        neighborhood_nouns[neighborhood].append(noun)
    for verb in verbs:
        neighborhood_verbs[neighborhood].append(verb)
    if type(hashtag_list) != float:
        hashtags = hashtag_list[1:-1].split(',')
        for hashtag in hashtags:
            neighborhood_hashtags[neighborhood].append(hashtag)

In [31]:
top_nouns_neighborhood = {}
top_verbs_neighborhood = {}
top_hashtags_neighborhood = {}

In [ ]:
for key, value in neighborhood_nouns.items():
    noun_counts = dict(Counter(value))
    sorted_noun_counts = sorted(noun_counts.items(), key=itemgetter(1))
    top_nouns_neighborhood[key] = sorted_noun_counts[len(sorted_noun_counts)-5:]
    print(key, sorted_noun_counts[len(sorted_noun_counts)-5:])

In [ ]:
for key, value in neighborhood_hashtags.items():
    ht_counts = dict(Counter(value))
    sorted_ht_counts = sorted(ht_counts.items(), key=itemgetter(1))
    top_hashtags_neighborhood[key] = sorted_ht_counts[len(sorted_ht_counts)-5:]
    print(key, sorted_ht_counts[len(sorted_ht_counts)-5:])

In [ ]:
for key, value in neighborhood_verbs.items():
    verbs_counts = dict(Counter(value))
    sorted_verb_counts = sorted(verbs_counts.items(), key=itemgetter(1))
    top_verbs_neighborhood[key] = sorted_verb_counts[len(sorted_verb_counts)-5:]
    print(key, sorted_verb_counts[len(sorted_verb_counts)-5:])

In [35]:
sorted_noun_counts[1:]

[(" 'girl'", 1), (" 'man'", 1), (" 'one'", 1)]

In [36]:
gis = GIS("http://esrifederal.maps.arcgis.com", "james_jones_federal", "QWerty654321@!")

sdf = pd.DataFrame.spatial.from_featureclass("Baltimore_neighborhoods/nhood_2010.shp")
sdf.head()

,index,ACRES,COLOR_2,LABEL,NBRDESC,SHAPE,Shape_Area,Shape_Leng
0,0,46.710432,2,Abell,ABELL,"{""rings"": [[[1422345.3370833546, 603620.765450...",2.034706e+06,5892.827778
1,1,260.023864,2,Allendale,ALLENDALE,"{""rings"": [[[1404989.665027067, 592042.0498981...",1.132664e+07,14276.845363
2,2,144.678075,2,Arcadia,ARCADIA,"{""rings"": [[[1434376.8304087818, 608229.661088...",6.302177e+06,12268.078903
3,3,115.584689,5,Arlington,ARLINGTON,"{""rings"": [[[1401059.4859543592, 612450.588014...",5.034869e+06,9756.115594
4,4,302.585653,2,Armistead Gardens,ARMISTEAD GARDENS,"{""rings"": [[[1437179.4596460313, 597502.828539...",1.318063e+07,16915.744134

In [37]:
sdf['Most_Common_Nouns'] = sdf['LABEL'].map(top_nouns_neighborhood)
sdf['Most_Common_Verbs'] = sdf['LABEL'].map(top_verbs_neighborhood)
sdf['Most_Common_Hashtags'] = sdf['LABEL'].map(top_hashtags_neighborhood)

In [38]:
sdf.head()

,index,ACRES,COLOR_2,LABEL,NBRDESC,SHAPE,Shape_Area,Shape_Leng,Most_Common_Nouns,Most_Common_Verbs,Most_Common_Hashtags
0,0,46.710432,2,Abell,ABELL,"{""rings"": [[[1422345.3370833546, 603620.765450...",2.034706e+06,5892.827778,"[( 'baltimore', 7), ( '@', 8), ( 'i', 10), ('@...","[( 'do', 4), ( 'been', 6), ('is', 6), ( 'is', ...","[('#MingleMonday', 1), ( '#MingleMondays', 1),..."
1,1,260.023864,2,Allendale,ALLENDALE,"{""rings"": [[[1404989.665027067, 592042.0498981...",1.132664e+07,14276.845363,"[( 'Rodman', 3), ( 'High', 3), ( 'Baltimore', ...","[( 'running', 3), ( 'was', 3), ( 'be', 5), ( '...","[( '#430', 1), ('#MetGala', 1), ('#classicman'..."
2,2,144.678075,2,Arcadia,ARCADIA,"{""rings"": [[[1434376.8304087818, 608229.661088...",6.302177e+06,12268.078903,"[( 'request', 8), ( 'Eierman', 8), ( 'Ave', 9)...","[( 'Cleaned', 2), ( 'request', 3), ( 'removed'...","[('#Praise', 1), ( '#Worship', 1)]"
3,3,115.584689,5,Arlington,ARLINGTON,"{""rings"": [[[1401059.4859543592, 612450.588014...",5.034869e+06,9756.115594,"[( 'My', 7), ('i', 10), ( '@', 14), ( 'http', ...","[('was', 4), ( 'was', 5), ( 'know', 6), ('do',...","[('#Kingjames', 1), ('#Pimlico', 4)]"
4,4,302.585653,2,Armistead Gardens,ARMISTEAD GARDENS,"{""rings"": [[[1437179.4596460313, 597502.828539...",1.318063e+07,16915.744134,"[('planning', 1), ( 'period', 1), ( 'mouse', 1...","[( 'covered', 1), ('Spending', 1), ( 'hunting'...","[('#eubieBee', 1), ( '#IECA15', 1), ( '#colleg..."

In [39]:
sdf_out = sdf[['LABEL', "Most_Common_Nouns", "Most_Common_Verbs", "Most_Common_Hashtags"]]
sdf_out.to_csv('output/sdf_neighborhoods.csv')
sdf_out.head()

,LABEL,Most_Common_Nouns,Most_Common_Verbs,Most_Common_Hashtags
0,Abell,"[( 'baltimore', 7), ( '@', 8), ( 'i', 10), ('@...","[( 'do', 4), ( 'been', 6), ('is', 6), ( 'is', ...","[('#MingleMonday', 1), ( '#MingleMondays', 1),..."
1,Allendale,"[( 'Rodman', 3), ( 'High', 3), ( 'Baltimore', ...","[( 'running', 3), ( 'was', 3), ( 'be', 5), ( '...","[( '#430', 1), ('#MetGala', 1), ('#classicman'..."
2,Arcadia,"[( 'request', 8), ( 'Eierman', 8), ( 'Ave', 9)...","[( 'Cleaned', 2), ( 'request', 3), ( 'removed'...","[('#Praise', 1), ( '#Worship', 1)]"
3,Arlington,"[( 'My', 7), ('i', 10), ( '@', 14), ( 'http', ...","[('was', 4), ( 'was', 5), ( 'know', 6), ('do',...","[('#Kingjames', 1), ('#Pimlico', 4)]"
4,Armistead Gardens,"[('planning', 1), ( 'period', 1), ( 'mouse', 1...","[( 'covered', 1), ('Spending', 1), ( 'hunting'...","[('#eubieBee', 1), ( '#IECA15', 1), ( '#colleg..."